<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BrandCatalogURL" value="http://moden-st.ru/catalog/brendy" />
    <add key="BrandPageStartPartOfURL" value="http://moden-st.ru/catalog/" />
    <add key="BrandListCSVFile" value="brand_list.csv" />
    <add key="ParsedDataXLS" value="stock-update-template.xls" />
    <add key="DefaultWarehouse" value="Ростов Сдек (21918255093000)" />
    <add key="RequiredCellsAreFilled" value="Заполнены" />
    <add key="PageTimeout" value="2000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>